<section class="hero is-info is-small">
  <div class="hero-body bpic">
    <center>
    <div class="container">
      <%= form_for(@flight, url: flights_path, method: :get ) do |f| %>
        <%= f.label :from_id, "From:" %>
        <div class="select is-multiple">
          <%= f.select(:from_id, @airports) %>
        </div>
        <%= f.label :to_id, "To:" %>
        <div class="select is-multiple">
          <%= f.select(:to_id, @airports) %>
        </div>
        <%= f.label :flight_start, "Date:" %>
        <div class="select is-multiple">
        <%= f.select :flight_start, @dates%>
        </div>
        <%= label :num_of_p, "Number of passangers:" %>
        <div class="select is-multiple">
          <%= select_tag(:num_of_p, options_for_select([1,2,3,4]))%>
        </div>
       <br> <br> <br>
        <%= submit_tag 'Search', class: "button"%>
      <% end %>




    </div>
    </center>
    <br><br>

    <% unless @results.nil? %>
    <%= form_for(:booking, url: new_booking_path, method: :get) do |f| %>

    <div class="columns">
      <%if ( @results.length.times do |i| %>
       <% a = Airport.find(@results[i].from_id) %>
       <% b = Airport.find(@results[i].to_id) %>
        <div class="column">

          <h1 class="subtitle">From:</h1>
          <p class="title">  <%= a.name + " (#{a.city}, #{a.country})" %> </p>

          <p class="subtitle">To:</p>
          <p class="title">  <%= b.name + " (#{b.city}, #{b.country})" %> </p>

          <p class="subtitle">Flight departure date:</p>
        <p class="title"> <%= @results[i].flight_start %> </p>

          <p class="subtitle">Duration:</p>
        <p class="title"> <%= @results[i].flight_duration.to_s + " hours and #{rand(60)} minutes." %> </p>

         <center> <%= f.radio_button :flight_id, @results[i].id %> </center>

        </div>

      <% end) == 0 %>
        <div class="notification is-warning">
      <%= render plain: "Sorry, but no flight is available for the given criteria."%>
        </div>

        <% end %>
      <%= f.hidden_field :num_of_p, :value => @num_of_p %>
    </div>
      <% unless @results.empty? %>
      <%= f.submit "Pick flight"  , class: "button full-size is-medium" %>
      <% end %>
      <% end %>
      <% end %>


  </div>
</section>

